ion-card {
    width: 175px;
    text-align: center;
    padding: 10px;
    
    &.sold {
        opacity: .7;
    }
}

svg {
    height: 100px;
    width: 100px;
    text {
        font-size: 80px;
    }
}
