ion-card {
  width: 175px;
  text-align: center;
  padding: 10px;

  ion-card-content {
    height: 2.75rem;
  }

  &.sold svg {
    filter: grayscale(1);
  }
}

svg {
  height: 100px;
  width: 100px;
  text {
    font-size: 80px;
  }
}
